<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("HeadPartial")
</head>
<body>
    @await Html.PartialAsync("HeaderPartial")
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("FooterPartial")
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>
