@using BooksNotBoobs.DTOs
@model LoginDTO

<div class="loginContent">
    <div class="helloLogin text-center">
        <h1>SignIn</h1>
    </div>

    <div class="LoginContent d-flex align-items-center">
        <form class="LoginForm" asp-area="" asp-action="Login" asp-controller="Login" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <span class="text-danger" asp-validation-for="Email"></span>
                <input class="LogInput" asp-for="Email" type="email" value="" placeholder="email" />
            </div>

            <div>
                <span class="text-danger" asp-validation-for="Password"></span>
                <input class ="LogInput" asp-for="Password" type="password" value="" placeholder="password" />
            </div>

            <button type="submit" class="LogButton">Отправить</button>
        </form>
    </div>

</div>

