@using BooksNotBoobs.DTOs
@model LoginDTO

<div class="loginContent">
    <div class="helloLogin text-center">
        <h1>SignIn</h1>
    </div>

    <div class="registrForm d-flex align-items-center">
        <form asp-area="" asp-action="Login" asp-controller="Login" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <span class="text-danger" asp-validation-for="Email"></span>
                <input asp-for="Email" class="RegInput" type="email" value="" placeholder="email" />
            </div>

            <div>
                <span class="text-danger" asp-validation-for="Password"></span>
                <input asp-for="Password" class="RegInput" type="password" value="" placeholder="password" />
            </div>

            <button type="submit" class="registrButton">Отправить</button>
        </form>
    </div>

</div>

