html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.textInfo {
    border:black solid 1px;
    padding:10px;
    border-radius:20px;
}

.infoLabel {
    margin-left:10px;
}

@media (orientation: portrait) {
    .infoBar {
        flex-wrap: wrap;
    }
    .bookImg {
        width:100%;
    }
    .infoLabel {
        margin:0;
    }
    .InfoSideBar {
        text-align:center;
    }
}

.bookImg {
    animation: animBook 3s infinite;
}

@keyframes animBook {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.catAnimation {
    position: relative;
    display: inline-block;
}

#meow {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #ff5722;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

#meow.show {
    opacity: 1;
    transform: translate(-50%, -20px);
}

.sideButton {
    display:none;
}

@media (orientation: portrait) {
    .sideButton {
        display: flex;
    }
}

.registrForm,.loginForm {
    min-width:354px;
}

.registrInput {
    padding-left:10px;
    border-radius:20px;
    box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.2) inset;
    border: none;
    width: 500px;
}

@media(orientation:portrait) {

    .registrInput {
        width: 100%;
    }
}

.registrContent {
    flex-wrap:wrap;
}

.registrButton {
    border-radius: 20px;
    background-color: rgba(247, 196, 244, 0.2);
}
