@using BooksNotBoobs.DTOs
@model NewUser

<div class="registrContent d-flex justify-content-between align-items-center flex-wrap">

    <img class="bookImg" src="~/img/cute-cat-border.png" alt="Alternate Text" />

    <div class="registrContent d-flex align-items-center">
        <form class="registrForm" asp-action="CheckRegistrForm" asp-controller="Registration" asp-area="" method="post">

            <h1 class="text-center">Registration</h1>

        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <span class="text-danger" asp-validation-for="UserName"></span>
            <input class="RegInput" asp-for="UserName" type="text" placeholder="User Name" />
        </div>

        <div>
            <span class="text-danger" asp-validation-for="UserEmail"></span>
            <input class="RegInput" asp-for="UserEmail" type="text" placeholder="Email" />
        </div>

        <div>
            <span class="text-danger" asp-validation-for="Password"></span>
            <input class="RegInput" asp-for="Password" type="password" placeholder="Password" />
        </div>

         <div>
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            <input class="RegInput" asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
        </div>

            <button class="registrButton">push</button>
        </form>
    </div>
    
</div>

